@import '../../scss/colors';
@import '../../scss/fonts';
@import '../../scss/mixins';

.c-stats {
  $key-darken: 15%;
  $border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;


  &__key,
  &__value,
  &__modifier {
    display: inline-block;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    padding: 1px;
    margin: 1px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

    &:first-child {
      border-radius: $border-radius 0 0 $border-radius;
    }

    &:last-child {
      border-radius: 0 $border-radius $border-radius 0;
    }
  }

  &__key {
    color: white;
    font-weight: bolder;
    font-style: italic;

    img {
      max-width: 48px;
      max-height: 48px;
      filter: invert(1);
    }
  }

  &__line {
    margin: 0 1px;
    display: flex;

    &--horrendous {
      .c-stats__key {
        background: darken($modifier-horrendous, $key-darken);
      }


      .c-stats__value,
      .c-stats__modifier {
        background: $modifier-horrendous;
        @include font-color($modifier-horrendous);
      }
    }

    &--low {
      .c-stats__key {
        background: darken($modifier-low, $key-darken);
      }

      .c-stats__value,
      .c-stats__modifier {
        background: $modifier-low;
        @include font-color($modifier-low);
      }
    }

    &--average-low {
      .c-stats__key {
        background: darken($modifier-average-low, $key-darken);
      }


      .c-stats__value,
      .c-stats__modifier {
        background: $modifier-average-low;
        @include font-color($modifier-average-low);
      }
    }

    &--average {
      .c-stats__key {
        background: darken($modifier-average, $key-darken);
      }


      .c-stats__value,
      .c-stats__modifier {
        background: $modifier-average;
        @include font-color($modifier-average);
      }
    }

    &--average-high {
      .c-stats__key {
        background: darken($modifier-average-high, $key-darken);
      }

      .c-stats__value,
      .c-stats__modifier {
        background: $modifier-average-high;
        @include font-color($modifier-average-high);
      }
    }

    &--high {
      .c-stats__key {
        background: darken($modifier-high, $key-darken);
      }

      .c-stats__value,
      .c-stats__modifier {
        background: $modifier-high;
        @include font-color($modifier-high);
      }
    }

    &--awesome {
      .c-stats__key {
        background: darken($modifier-awesome, $key-darken);
      }

      .c-stats__value,
      .c-stats__modifier {
        background: $modifier-awesome;
        @include font-color($modifier-awesome);
      }
    }
  }
}
