<mat-card>
  <mat-card-title>
    Your rolls
  </mat-card-title>
  <mat-card-content>

    <div class=c-stats *ngIf="!loading; else indicator">
      <div class=c-stats__line [ngClass]="{
        'c-stats__line--awesome': +stat.modifier >= 3,
        'c-stats__line--high': +stat.modifier == 2,
        'c-stats__line--average-high': +stat.modifier == 1,
        'c-stats__line--average': +stat.modifier == 0,
        'c-stats__line--average-low': +stat.modifier == -1,
        'c-stats__line--low': +stat.modifier == -2,
        'c-stats__line--horrendous': +stat.modifier <= -3
      }" *ngFor="let stat of stats;let index=index">
        <span class="c-stats__key"><img src="assets/5_glyph-512.png" /></span>
        <span class="c-stats__value">{{stat.value}}</span>
        <span class="c-stats__modifier">{{stat.modifier}}</span>
      </div>

    </div>
    <ng-template #indicator>
      <img class="c-loader" src="assets/Spinner-0.7s-200px.svg" />
    </ng-template>


  </mat-card-content>

  <mat-card-actions align=end>
    <button mat-raised-button color="warn" (click)="this.getStats()">Roll new stats!</button>
        <a mat-raised-button color="primary" routerLink="/assign" *ngIf="this.stats">Assign stats!</a>
  </mat-card-actions>

</mat-card>
<mat-accordion>
  <app-legend></app-legend>
  <app-points [stats]="stats" [loading]="loading"></app-points>
</mat-accordion>