<mat-card>
  <mat-card-title>
    Available races
  </mat-card-title>
  <mat-card-content>
    <mat-selection-list *ngIf="!loading; else indicator" multiple="false">
      <mat-list-option [selected]="selectedRace == race" (click)="onSelect(race)"
        *ngFor="let race of races; last as last">
        <span>
          <span class="c-race__name">{{race.name | titlecase}}</span>
          <span class="c-race__bonus" *ngFor="let bonus of race.bonus">
            <span class="c-race__bonus-label">{{bonus.stat}}</span>
            <span class="c-race__bonus-value">{{(bonus.value<=0?"":"+") + bonus.value}}</span>
          </span>
        </span>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      </mat-list-option>
    </mat-selection-list>
    <ng-template #indicator>
      <img class="c-loader" src="assets/Spinner-0.7s-200px.svg" />
    </ng-template>
    <div class="c-disclaimer">Each race adds different bonuses to your final stats. Races with bonuses of type <b>any</b> have additional points for assignment.</div>
  </mat-card-content>
  <mat-card-actions align=end>
        <a mat-raised-button color="primary" routerLink="/assign" *ngIf="selectedRace">Assign stats!</a>
  </mat-card-actions>

</mat-card>