@import '../../scss/colors';
@import '../../scss/fonts';
@import '../../scss/mixins';

.c-race {
  [class*="__"] {
    margin: 0 5px;
  }

  &__name {
    min-width: 150px;
    display: inline-block;
  }

  &__bonus {
    min-width: 70px;
    display: inline-block;

    &-label {
      min-width: 40px;
      display: inline-block;
    }

    &-value {
      min-width: 30px;
      display: inline-block;
    }
  }

  &__line {
    border-radius: 5px;
    padding: 5px;

    &:hover {
      background-color: $accent-pll;
      @include font-color($accent-pll);
      cursor: pointer;
    }

    &--selected {
      background-color: $accent-tll;
      @include font-color($accent-tll);

      &:hover {
        background-color: $accent-tls;
        @include font-color($accent-tls);
      }
    }
  }
}
