<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Color explanation
    </mat-panel-title>
    <mat-panel-description>What do the different colors mean?</mat-panel-description>
  </mat-expansion-panel-header>
  <div class=c-legend>
    <div class="c-disclaimer c-legend__disclaimer">Values are rolled with four d6 and the smallest dice is discarded.
      The
      potential minimum for a single value is 3 (all die rolled a 1) while the potential maxium is 18 (all die rolled a
      6). The modifiers are calculated by subtracting 10 from a value and then dividing the result by 2 (round down). In
      addition the result is color coded, take a look at the following legend for the explanation.</div>
  </div>
    <table class="c-legend__table">
      <tr class="c-legend__row">
        <td class="c-legend__column c-legend__column--awesome">+3</td>
        <td class="c-legend__column c-legend__description">Awesome</td>
      </tr>
      <tr class="c-legend__row">
        <td class="c-legend__column c-legend__column--high">+2</td>
      </tr>
      <tr class="c-legend__row">
        <td class="c-legend__column c-legend__column--average-high">+1</td>
      </tr>
      <tr class="c-legend__row">
        <td class="c-legend__column c-legend__column--average">0</td>
        <td class="c-legend__column c-legend__description">Average</td>
      </tr>
      <tr class="c-legend__row">
        <td class="c-legend__column c-legend__column--average-low">-1</td>
      </tr>
      <tr class="c-legend__row">
        <td class="c-legend__column c-legend__column--low">-2</td>
      </tr>
      <tr class="c-legend__row">
        <td class="c-legend__column c-legend__column--horrendous">-3</td>
        <td class="c-legend__column c-legend__description">Horrendous</td>
      </tr>
    </table>
</mat-expansion-panel>