@import '../../scss/colors';
@import '../../scss/fonts';
@import '../../scss/mixins';
@import '../../scss/decorations';

.c-legend {
  @include flex();


  &__table {
    width: 158px;
  }

  &__column {
    padding: 5px;
    text-align: center;
    border-radius: $decoration-border-radius;

    &--horrendous {
      background: $modifier-horrendous;
      @include font-color($modifier-horrendous);
    }

    &--low {
      background: $modifier-low;
      @include font-color($modifier-low);
    }

    &--average-low {
      background: $modifier-average-low;
      @include font-color($modifier-average-low);
    }

    &--average {
      background: $modifier-average;
      @include font-color($modifier-average);
    }

    &--average-high {
      background: $modifier-average-high;
      @include font-color($modifier-average-high);
    }

    &--high {
      background: $modifier-high;
      @include font-color($modifier-high);
    }

    &--awesome {
      background: $modifier-awesome;
      @include font-color($modifier-awesome);
    }

  }
}
