<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>{{(sidenav.opened) ? "close":"menu"}}</mat-icon>
    </button>
    <span>{{appTitle}} {{appVersion}}</span>
  </mat-toolbar-row>
</mat-toolbar>
