@import '../../scss/colors';
@import '../../scss/fonts';
@import '../../scss/mixins';

.c-info {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $accent-pdl;

  * {
    margin: 5px;
    @include font-color($accent-pdl);
  }

  &__race {
    position: absolute;
    right: 5px;
  }

  &__line {}

  &__stat {

    &-value,
    &-modifier {
      display: inline-block;
    }
  }
}
