<app-info [appTitle]="title" [appVersion]="version" [sidenav]="sidenav"></app-info>
<mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 56 : 64">
  <mat-sidenav #sidenav [(opened)]="opened" [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">

    <mat-nav-list #navLinks multiple="false">
      <a mat-list-item [class.active]="rla.isActive" *ngFor="let link of links" [value]="link"
        routerLink="{{link.path}}" routerLinkActive #rla="routerLinkActive">
        {{link.text}}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <app-color-scheme *ngIf="getDevMode()"></app-color-scheme>
  </mat-sidenav-content>
</mat-sidenav-container>