@import '../scss/colors';
@import '../scss/fonts';
@import '../scss/mixins';

h1 {
  color: $accent-p;
  font-family: $font-title;
  font-size: 250%;
  text-align: center;
}

h2,
h3 {
  color: $accent-p;
  font-family: $font-title;
  font-weight: lighter;
}

body {
  margin: 2em;
}
