@import '../../scss/colors';
@import '../../scss/fonts';
@import '../../scss/mixins';

.c-color {
  &__line {
    &--primary .c-color__element--regular {
      background-color: $accent-p;
    }

    &--primary .c-color__element--dark-strong {
      background-color: $accent-pds
    }

    &--primary .c-color__element--dark-light {
      background-color: $accent-pdl
    }

    &--primary .c-color__element--light-strong {
      background-color: $accent-pls
    }

    &--primary .c-color__element--light-light {
      background-color: $accent-pll
    }

    &--secondary .c-color__element--regular {
      background-color: $accent-s;
    }

    &--secondary .c-color__element--dark-strong {
      background-color: $accent-sds;
    }

    &--secondary .c-color__element--dark-light {
      background-color: $accent-sdl;
    }

    &--secondary .c-color__element--light-strong {
      background-color: $accent-sls;
    }

    &--secondary .c-color__element--light-light {
      background-color: $accent-sll
    }

    &--tertiary .c-color__element--regular {
      background-color: $accent-t;
    }

    &--tertiary .c-color__element--dark-strong {
      background-color: $accent-tds;
    }

    &--tertiary .c-color__element--dark-light {
      background-color: $accent-tdl;
    }

    &--tertiary .c-color__element--light-strong {
      background-color: $accent-tls;
    }

    &--tertiary .c-color__element--light-light {
      background-color: $accent-tll;
    }

  }

  &__element {
    width: 24px;
    height: 24px;
    display: inline-block;
  }
}
