<div class="c-color">
  <div class="c-color__line" [ngClass]="'c-color__line--'+ color" *ngFor="let color of colors"> <span
      class="c-color__element" [ngClass]="'c-color__element--'+ lightness" *ngFor="let lightness of lightings"></span>
  </div>
</div>