@import '../../scss/colors';
@import '../../scss/fonts';
@import '../../scss/mixins';

$pointer-width: 3px;
$pointer-offset: $pointer-width / 2 * -1;

.c-points {
  @include flex($stack: column);

  &__textual {
    padding: 10px 0;

    &-current {
      color: $accent-t;
      font-weight: bold;
    }

    &--loading {
      color: #aaa;
    }
  }

  &__graph {
    width: 100%;
    padding: 0;

    &-line {
      width: 100%;
      height: 5px;

      background: $modifier-horrendous;
      background: -moz-linear-gradient(90deg, $modifier-horrendous 0%, $modifier-low 30%, $modifier-average-low 40%, $modifier-average 50%, $modifier-average-high 60%, $modifier-high 70%, $modifier-awesome 100%);
      background: -webkit-linear-gradient(90deg, $modifier-horrendous 0%, $modifier-low 30%, $modifier-average-low 40%, $modifier-average 50%, $modifier-average-high 60%, $modifier-high 70%, $modifier-awesome 100%);
      background: linear-gradient(90deg, $modifier-horrendous 0%, $modifier-low 30%, $modifier-average-low 40%, $modifier-average 50%, $modifier-average-high 60%, $modifier-high 70%, $modifier-awesome 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#800080", endColorstr="#008000", GradientType=1);

    }
  }

  &__current {
    height: 20px;
    width: $pointer-width;
    position: relative;
    margin-left: $pointer-offset - 5px;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    &--horrendous {
      border-top: 20px solid $modifier-horrendous;
    }

    &--low {
      border-top: 20px solid $modifier-low;
    }

    &--average-low {
      border-top: 20px solid $modifier-average-low;
    }

    &--average {
      border-top: 20px solid $modifier-average;
    }

    &--average-high {
      border-top: 20px solid $modifier-average-high;
    }

    &--high {
      border-top: 20px solid $modifier-high;
    }

    &--awesome {
      border-top: 20px solid $modifier-awesome;
    }
  }
}
