<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Overall Score
    </mat-panel-title>
    <mat-panel-description>Total rolled value: {{ this.getStatTotal() }}</mat-panel-description>
  </mat-expansion-panel-header>
  <div class="c-points" *ngIf="stats">
    <div class="c-points__graph">
      <div [ngStyle]="{'left': this.getPercentage() +'%'}" class="c-points__current" [ngClass]="{
         'c-points__current--awesome':      this.getPercentage() > 85,
         'c-points__current--high':         this.getPercentage() <=85 && this.getPercentage() > 65,
         'c-points__current--average-high': this.getPercentage() <=65 && this.getPercentage() > 55,
         'c-points__current--average':      this.getPercentage() <=55 && this.getPercentage() > 45,
         'c-points__current--average-low':  this.getPercentage() <=45 && this.getPercentage() > 35,
         'c-points__current--low':          this.getPercentage() <=35 && this.getPercentage() > 30,
         'c-points__current--horrendous':   this.getPercentage() <=30 && this.getPercentage() >= 0
       }"></div>
      <div class="c-points__graph-line"></div>
    </div>
    <div class="c-points__textual" [ngClass]="{'c-points__textual--loading': loading}">Total Value: <span
        class="c-points__textual-current">{{ this.getStatTotal() }}</span>/108*</div>
    <div class="c-disclaimer">*A total value of 108 is the potential maximum of rolling 3d6 and rolling 18 for all
      stats.
      This does not mean that low points equals a bad character.
      This display is only for rough measurement and comparisons. Even a character with fewer total points can be
      extremely valuable!</div>
  </div>
</mat-expansion-panel>