<mat-card>
    <mat-card-title>
        <p *ngIf="getRace();else norace; noracebtn">Current Race: {{getRace().name | titlecase }}</p>
        <ng-template #norace>
            <p>No race selected! </p>
        </ng-template>
    </mat-card-title>
    <mat-card-content>

        <div class=c-stat-assign *ngIf="getStats();else nostats">
            <div class=c-stat-assign__field [ngClass]="{
                'bonus':isBonusField(statType.name),
                'bonus--small': getBonusSize(statType.name) >= 1,
                'bonus--large': getBonusSize(statType.name) >= 2}"
                *ngFor="let statType of statFields">
                <span class=c-stat-assign__name>{{getBonusSize(statType.name) >= 1 ? '*':''}}{{getBonusSize(statType.name) >= 2 ? '*':''}}{{statType.name | uppercase }}</span>
                <span class=c-stat-assign__value
                    *ngIf="statType.stat; else statreplacer">{{getSingleStat(statType.name).value}}</span>
                <span class=c-stat-assign__modifier
                    *ngIf="statType.stat; else statreplacer">{{getSingleStat(statType.name).modifier}}</span>
                <ng-template #statreplacer>
                    <span class=c-stat-assign__replacer>-</span>
                </ng-template>
                <mat-button-toggle-group name="{{statType.name}}Value" aria-label="{{statType.name | uppercase}} Value">
                    <mat-button-toggle [value]="isPressed(statType.name, index)"
                        *ngFor="let stat of getStats();let index=index" (change)="statToggle(statType.name, index)"
                        [disabled]="isDisabled(statType.name, index)"
                        [ngClass]="{'mat-button-toggle-checked': isPressed(statType.name, index)}"
                        [checked]="isPressed(statType.name, index)">
                        {{stat.value}}
                    </mat-button-toggle>
                </mat-button-toggle-group>
                <div class="c-stat-assign__increase" *ngIf="anyBonus > 0 && isStatEnabled(statType.name); else nobonus">
                    <button mat-mini-fab [disabled]="!canIncrease(statType.name)" color="primary" (click)="increase(statType.name)"><mat-icon aria-hidden="false" aria-label="add">add</mat-icon></button>
                    <button mat-mini-fab [disabled]="!canDecrease(statType.name)" color="warn" (click)="decrease(statType.name)"><mat-icon aria-hidden="false" aria-label="remove">remove</mat-icon></button>
                </div>
                <ng-template #nobonus>
                <div class="c-stat-assign__increase">
                    <button mat-mini-fab disabled color="primary"><mat-icon aria-hidden="false" aria-label="add">add</mat-icon></button>
                    <button mat-mini-fab disabled color="warn"><mat-icon aria-hidden="false" aria-label="remove">remove</mat-icon></button>
                </div>
                </ng-template>
            </div>
                <span class="c-stat-assign__increase" *ngIf="anyBonus > 0">Stat points left: {{getAnyBonusCurrent()}}</span>
        </div>
        <ng-template #nostats>
            <p>No stats rolled! </p>
        </ng-template>

    </mat-card-content>

    <mat-card-actions align=end>
        <button mat-raised-button color="warn" (click)="resetChoices()" *ngIf="getStats()">Reset</button>
        <a mat-raised-button color="primary" routerLink="/races" *ngIf="!getRace()">Select a race!</a>
        <a mat-raised-button color="primary" routerLink="/races" *ngIf="getRace()">Change race!</a>
        <a mat-raised-button color="primary" routerLink="/stats">Roll stats!</a>
    </mat-card-actions>

</mat-card>
