@import '../../scss/colors';
@import '../../scss/decorations';
@import '../../scss/mixins';

.c-stat-assign {

  @include flex($stack: column);

&__field{
    
  @include flex();
border-radius: $decoration-border-radius;
}

  &__name,
  &__value,
  &__replacer,
  &__modifier {
    margin: 0px 10px;
    min-width: 40px;
    display: inline-block;
  }
  &__name{
      font-weight: bolder;
  }
}

.bonus {
    &--small{
  background-color: $modifier-average-high;
}
    &--large{
  background-color: $modifier-high;

    }
}
