@import 'scss/colors';
@import 'scss/fonts';
@import 'scss/mixins';
@import 'scss/decorations';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$statroller-fe-primary: mat-palette($mat-teal);
$statroller-fe-accent: mat-palette($mat-indigo, A200, A100, A400);

// The warn palette is optional (defaults to red).
$statroller-fe-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$statroller-fe-theme: mat-light-theme($statroller-fe-primary, $statroller-fe-accent, $statroller-fe-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($statroller-fe-theme);


.c-disclaimer {
  max-width: 480px;
  font-style: italic;
  font-size: 10pt;
  width: 100%;
}

.c-loader {
  max-width: 200px;
  display: block;
  margin: auto;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.c-spacer {
  flex: 1 1 auto;
}

a.active {
  background: rgba(0, 0, 0, 0.04);
}

mat-toolbar {
  position: fixed;
  z-index: 1000;
  /* Ensure that your app's content doesn't overlap the toolbar */
}

app-root {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav-container {
  flex: 1 0 auto;
}

mat-card {
  margin-bottom: 10px;
}
