$accent-p: #5AA3D0;
$accent-s: adjust-hue($accent-p, -60deg);
$accent-t: adjust-hue($accent-p, 60deg);
$accent-g: grayscale($accent-p);


$lighten-l: 10%;
$lighten-s: 20%;
$darken-l: 20%;
$darken-s: 30%;

$accent-pls: lighten($accent-p, $lighten-s);
$accent-pll: lighten($accent-p, $lighten-l);
$accent-pdl: darken($accent-p, $darken-l);
$accent-pds: darken($accent-p, $darken-s);

$accent-sls: lighten($accent-s, $lighten-s);
$accent-sll: lighten($accent-s, $lighten-l);
$accent-sdl: darken($accent-s, $darken-l);
$accent-sds: darken($accent-s, $darken-s);

$accent-tls: lighten($accent-t, $lighten-s);
$accent-tll: lighten($accent-t, $lighten-l);
$accent-tdl: darken($accent-t, $darken-l);
$accent-tds: darken($accent-t, $darken-s);

$value-good: #8ACD42;
$value-bad: #fe6631;
$modifier-awesome: darken($value-good, $darken-s);
$modifier-high: darken($value-good, $darken-l);
$modifier-average-high: $value-good;
$modifier-average: change-color($value-good, $saturation: 0%);
$modifier-average-low: $value-bad;
$modifier-low: darken($value-bad, $darken-l);
$modifier-horrendous: darken($value-bad, $darken-s);
