@mixin font-color($color) {
  @if lightness($color)>=50% {
    color: #333;
  }

  @else {
    color: #eee;
  }
}

@mixin flex($center: true, $stack: row, $wrap: wrap) {
  display: flex;

  @if $center {
    justify-content: center;
    align-items: center;
  }

  padding: 5px;
  flex-wrap: $wrap;
  flex-direction: $stack;
}
